<div class="container">
    <div class="box">
        <h1><u>My Profile</u></h1>
        <br><br>
        <div class="body" >
            <div >
                <div >
                    <label for="name">Name :  </label>
                    <input disabled type="text" value="{{profileModel.fname}} {{profileModel.lname}}">
                </div>
            </div>
            <br>
            <div >
                <label for="email">E-Mail Id : </label>
                <input disabled type="text" value="{{profileModel.email}}">
            </div>
	        <br>
            <div >
                <label for="username">Username : </label>
                <input disabled type="text" value="{{profileModel.username}}">
            </div>
	        <br>
            <div >
                <label for="mobile number">Mobile Number : </label>
                <input disabled type="number" value="{{profileModel.mobileNumber}}">
            </div>
	        <br>
            <label for="gender">Gender : </label>
            <input disabled type="text" value="{{profileModel.gender}}">
	        <br><br>
	        <label  for="dob" type="date">DOB : </label>
	        <input disabled type="text" value="{{profileModel.dOB | date :'mediumDate'}}">
	        <br><br>
        </div>
        <button mat-raised-button color="primary" routerLink="/user/edit">Edit</button>
    </div>
</div>