*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
}
.container{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background: lightblue;
    text-align: center;
    padding: 50px 100px;
    border-radius: 50px;
}
.body{
    background: lightblue;
    text-align: left;
}