<nav class="circle">
    <ul>
        <li ><a class="nav-link" href="#" routerLink="/admin">Sea Senora </a></li>
        <li id="adminAddVehicle"><a routerLink="/admin/admin-addvehicle" id="adminAddVehicle"  class="nav-link">Add Vehicle</a></li>
        <li id="adminVehicleProfile"><a routerLink="/admin/admin-vehicleprofile" id="adminVehicleProfile"  class="nav-link">Vehicle Profile</a></li>
        <li id="logout" style="float:right"><a class="nav-link" href="#" routerLink="/login" (click)="logout()" >Logout</a></li>
    </ul>
</nav>
