
<p>
    <span class="h5">Edit</span><br><br>
    <input type="text" id="addName" [(ngModel)]="vehicles.vehicleName" name="vehicleName" placeholder="Enter the Name" size="50" ><br><br>
    <input type="text" id="addTiming" [(ngModel)]="vehicles.vehicleAvailableTiming" name="vehicleAvailableTiming" placeholder="Enter the Available Timing" size="50"><br><br>
    <input type="text" id="addCity"  [(ngModel)]="vehicles.vehicleAddress" name="vehicleCity" placeholder="Enter the City" size="50"><br><br>
    <input type="url" id="addImageUrl" [(ngModel)]="vehicles.vehicleImageURL" name="vehicleUrl" placeholder="Enter the Image Url" size="50"><br><br>
    <input type="text" id="addPrice" [(ngModel)]="vehicles.price" name="vehiclePrice" placeholder="Enter the fair per person" size="50"><br><br>
    <input type="text" id="Boatcapacity"  [(ngModel)]="vehicles.vehicleCapacity" name="vehicleCapacity" placeholder="Enter the capacity" size="50"><br><br>
    <textarea  id="addDescription" [(ngModel)]="vehicles.vehicleDescription" name="vehicleDescription" placeholder="Description" cols="52" rows="4"></textarea><br><br>
    <button type="button" id="editBoatButton" (click)="validation()" class="btn btn-secondary btn-lg" style="background-color: #535353" class="text-white bg-dark">Update</button>
</p>
