p {
    border: 40px solid #b3aeae;
    background-color: #b3aeae;
    border-radius: 15px;
    margin: 50px;
    width :650px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:white;
  }
  
  ::placeholder{
    text-align: center;
  }
